---
default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [-b, main]
      - id: detect-private-key
      - id: end-of-file-fixer
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
      - id: poetry-check
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.28.2
    hooks:
      - id: sqlfmt
        language_version: python
        additional_dependencies: ['.[jinjafmt]']
  - repo: local
    hooks:
      - id: yamlfix
        name: yamlfix
        types: [yaml]
        language: system
        entry: yamlfix
        exclude: ^charts/
